@functions {
    public bool IsMenuActive(string controller)
    {
        var currentController = ViewContext.RouteData.Values["controller"] as string;
        return string.Equals(controller, currentController, StringComparison.OrdinalIgnoreCase);
    }
}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                
            </span>
            <h2 class=" demo  fw-bold ms-2">ROOF TOP</h2>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class="menu-item @(IsMenuActive("Home") ? " active open" : "")">
            <a class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Dashboards">Dashboards</div>
                <div class="badge bg-danger rounded-pill ms-auto">5</div>
            </a>
        </li>





        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">User</span>
        </li>


        <!-- Pages -->
        <li class="menu-item @(IsMenuActive("User") ? " active open" : "")">
            <a asp-action="Index" asp-controller="User" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-user-account"></i>
                <div >Customer</div>
            </a>
        </li>
        <li class="menu-item @(IsMenuActive("HouseOwner") ? " active open" : "") ">
            <a asp-action="Index" asp-controller="HouseOwner" class="menu-link">
                <i class=''></i>
                <i class="menu-icon tf-icons bx bx-buildings"></i>
                <div data-i18n="Dashboards">House Owner</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div data-i18n="Account Settings">Account Settings</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="pages-account-settings-account.html" class="menu-link">
                        <div data-i18n="Account">Account</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="pages-account-settings-notifications.html" class="menu-link">
                        <div data-i18n="Notifications">Notifications</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="pages-account-settings-connections.html" class="menu-link">
                        <div data-i18n="Connections">Connections</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="menu-header small text-uppercase"><span class="menu-header-text">Rooftop</span></li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-building-house"></i>
                <div data-i18n="Dashboards">Available Rooftop</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link">
                <i class="menu-icon tf-icons bx bxs-plus-circle"></i>
                <div data-i18n="Dashboards">Add Rooftop</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Payment</span></li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div data-i18n="Support">Confirm</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div data-i18n="Documentation">Pending</div>
            </a>
        </li>
    </ul>
</aside>