






img.card-img-top {
    height: 187px;
    object-fit: cover;
}

/* Input */
.table .badge input {
    color: #1cfb2f;
    border-style: none;
    background-color:transparent;
}


/* Image */
.app-brand-link .app-brand-logo img {
    transform: translatex(15px) translatey(0px);
    padding-right: 6px;
}

/* Image */
.layout-content-navbar .layout-container #layout-menu .demo .app-brand-link .app-brand-logo img {
    width: 21% !important;
}

